<html>
    <body>
        <h1>
          Marks Form:
        </h1>
        <form action='/submit' method='post'>
            <label for="Science">Science:</label><br>
            <input type="text" name="science" id ="science" value="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" name="maths" id ="maths" value="0"><br>
            <label for="English">English:</label><br>
            <input type="text" name="english" id ="english" value="0"><br>
            <label for="SST">SST:</label><br>
            <input type="text" name="sst" id ="sst" value="0"><br>
            <label for="French">French:</label><br>
            <input type="text" name="french" id ="french" value="0"><br>
            <input type="submit" value="Submit">
            </form>

    </body>
</html>